html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    line-height: normal;
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 298vh;
    text-align: left;
    font-size: 3.6vh;
    color: #fff;
    font-family: Jost;
}
.max2-2-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: -0.5vh;
    left: -0.06vh;
    border-top: 0.2vh solid #fff;
    box-sizing: border-box;
    width: 173vh;
    height: 0.12vh;
}
.group-item {
    position: absolute;
    top: 4vh;
    left: -0.06vh;
    border-top: 0.2vh solid #fff;
    box-sizing: border-box;
    width: 173vh;
    height: 0.12vh;
}
.year {
    position: absolute;
    top: 0.2vh;
    right: 39vh;
    pointer-events: none;
}
.media-design {
    position: absolute;
    top: 0.2vh;
    left: 18vh;
    pointer-events: none;
}
.portfolio1 {
    position: absolute;
    top: 0.2vh;
    right: -24vh;
    pointer-events: none;
}
.line-parent {
    position: absolute;
    top: 7vh;
    left: 12vh;
    width: 130vh;
    height: 4vh;
    font-size: 2.5vh;
}
.deeper-icon {
    position: absolute;
    top: 201vh;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.portfolio-child {
    position: absolute;
    top: 128vh;
    left: 54vh;
    border-radius: 1.4vh;
    background-color: #B1BDD7;
    width: 23.5vh;
    height: 7.2vh;
}
.portfolio-item {
    position: absolute;
    top: 142.5vh;
    left: 53.7vh;
    border-radius: 1.4vh;
    background-color: #85B0DA;
    width: 23.5vh;
    height: 7.16vh;
}
.portfolio-inner {
    position: absolute;
    top: 156.99vh;
    left: 53.76vh;
    border-radius: 1.4vh;
    background-color: #6BA7C9;
    width: 23.53vh;
    height: 7.17vh;
}
.rectangle {
    position: absolute;
    top: 171.56vh;
    left: 53.76vh;
    border-radius: 1.4vh;
    background-color: #1D608A;
    width: 23.53vh;
    height: 7.17vh;
}
.about {
    position: absolute;
    top: 241.34vh;
    left: 83.51vh;
    font-size: 7.17vh;
    display: inline-block;
    text-align: center;
    width: 4.66vh;
    height: 32.85vh;
}
.me {
    position: absolute;
    top: 250.89vh;
    left: 100.179vh;
    font-size: 7.168vh;
    line-height: 69.18%;
    display: inline-block;
    text-align: center;
    width: 4.659vh;
    height: 12.78vh;
}
.portfolio-child2 {
    position: absolute;
    top: 128.07vh;
    left: 119.47vh;
    border-radius: 1.433vh;
    background-color: #B1BDD7;
    width: 23.536vh;
    height: 7.168vh;
}
.portfolio-child3 {
    position: absolute;
    top: 138.948vh;
    left: 119.47vh;
    border-radius: 1.433vh;
    background-color: #85B0DA;
    width: 23.536vh;
    height: 7.168vh;
}
.portfolio-child4 {
    position: absolute;
    top: 149.82vh;
    left: 119.47vh;
    border-radius: 1.433vh;
    background-color: #6BA7C9;
    width: 23.536vh;
    height: 7.168vh;
}
.portfolio-child5 {
    position: absolute;
    top: 160.69vh;
    left: 119.47vh;
    border-radius: 1.433vh;
    background-color: #4986A9;
    width: 23.536vh;
    height: 7.168vh;
}
.portfolio-child6 {
    position: absolute;
    top: 171.56vh;
    left: 119.47vh;
    border-radius: 1.433vh;
    background-color: #1D608A;
    width: 23.536vh;
    height: 7.168vh;
}
.projects {
    position: absolute;
    top: 112.18vh;
    left: 55.55vh;
    font-size: 5.97vh;
    color: #83a0ca;
}
.learning-outcomes {
    position: absolute;
    top: 112.06vh;
    left: 107.52vh;
    font-size: 5.97vh;
    color: #83a0ca;
}
.lo-1 {
    position: absolute;
    top: 129.03vh;
    left: 127.837vh;
    pointer-events: none;
}
.lo-2 {
    position: absolute;
    top: 139.9vh;
    left: 127.837vh;
    pointer-events: none;
}
.lo-3 {
    position: absolute;
    top: 150.77vh;
    left: 127.837vh;
    pointer-events: none;
}
.lo-4 {
    position: absolute;
    top: 161.529vh;
    left: 127.837vh;
    pointer-events: none;
}
.lo-5 {
    position: absolute;
    top: 172.52vh;
    left: 127.837vh;
    pointer-events: none;
}
.branding {
    position: absolute;
    top: 129.03vh;
    left: 58.78vh;
    pointer-events: none;
}
.ux {
    position: absolute;
    top: 143.48vh;
    left: 63.56vh;
    pointer-events: none;
}
.development {
    position: absolute;
    top: 157.945vh;
    left: 55.67vh;
    pointer-events: none;
}
.project-x {
    position: absolute;
    top: 172.4vh;
    left: 58.9vh;
    pointer-events: none;
}
.portfolio-child1 {
    position: absolute;
    top: 223.29vh;
    left: 41.8vh;
    background-color: #31517a;
    border: 0.358vh solid #fff;
    box-sizing: border-box;
    width: 38.47vh;
    height: 50.29vh;
}
.hey-my-name {
    margin: 0;
}
.hey-my-name-container {
    position: absolute;
    top: 225.209vh;
    left: 43.01vh;
    font-size: 2.86vh;
    text-align: right;
    display: inline-block;
    width: 35.48vh;
    height: 46.59vh;
}
.line-group {
    position: absolute;
    top: 287.45vh;
    left: 11.58vh;
    width: 129.62vh;
    height: 4.06vh;
    font-size: 2.389vh;
}
.polygon-icon {
    position: absolute;
    top: 85.78vh;
    left: 95.579vh;
    border-radius: 0.477vh;
    width: 7.407vh;
    height: 6.212vh;
    object-fit: contain;
    cursor: pointer;
}
.portfolio-child7 {
    position: absolute;
    top: 185.78vh;
    left: 95.57vh;
    border-radius: 0.477vh;
    width: 7.407vh;
    height: 6.212vh;
    object-fit: contain;
    cursor: pointer;
}
.polygon2-icon {
    position: absolute;
    top: 209.08vh;
    left: 95.579vh;
    border-radius: 0.477vh;
    width: 7.407vh;
    height: 6.212vh;
    object-fit: contain;
    cursor: pointer;
    transform: rotate(180deg);
}
.maksym-icon {
    position: absolute;
    top: 223.297vh;
    left: 113.5vh;
    width: 36.32vh;
    height: 50.29vh;
    object-fit: cover;
    border: white solid 0.358vh;
}