body {
    margin: 0;
    line-height: normal;
}


.max2-2-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 101vh;
    object-fit: cover;
}
.group-child {
    position: absolute;
    top: -0.5px;
    left: 0.5px;
    border-top: 2px solid #fff;
    box-sizing: border-box;
    width: 1450px;
    height: 1px;
}
.group-item {
    position: absolute;
    top: 33.5px;
    left: -0.5px;
    border-top: 2px solid #fff;
    box-sizing: border-box;
    width: 1450px;
    height: 1px;
}
.div {
    position: absolute;
    top: 2px;
    right: 350px;
}
.media-design {
    position: absolute;
    top: 2px;
    left: 150px;
}
.portfolio1 {
    position: absolute;
    top: 2px;
    right: -200px;
}
.line-parent {
    position: absolute;
    top: 60px;
    left: 100px;
    width: 1085px;
    height: 35px;
    font-size: 20px;
}
.afd221668cb30908ca591c407115a-icon {
    position: absolute;
    top: 1658px;
    left: 0px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.portfolio-child {
    position: absolute;
    top: 1072px;
    left: 450px;
    border-radius: 12px;
    background-color: #b7c2d4;
    width: 197px;
    height: 60px;
}
.portfolio-item {
    position: absolute;
    top: 1193px;
    left: 450px;
    border-radius: 12px;
    background-color: #83a0ca;
    width: 197px;
    height: 60px;
}
.portfolio-inner {
    position: absolute;
    top: 1314px;
    left: 450px;
    border-radius: 12px;
    background-color: #819bb7;
    width: 197px;
    height: 60px;
}
.rectangle-div {
    position: absolute;
    top: 1436px;
    left: 450px;
    border-radius: 12px;
    background-color: #31517a;
    width: 197px;
    height: 60px;
}
.projects {
    position: absolute;
    top: 939px;
    left: 465px;
    font-size: 50px;
    color: #83a0ca;
}
.about {
    position: absolute;
    top: 2020px;
    left: 698px;
    font-size: 60px;
    display: inline-block;
    text-align: center;
    width: 39px;
    height: 275px;
}
.me {
    position: absolute;
    top: 2090px;
    left: 838.5px;
    font-size: 60px;
    line-height: 69.18%;
    display: inline-block;
    text-align: center;
    width: 39px;
    height: 107px;
}
.portfolio-child2 {
    position: absolute;
    top: 1072px;
    left: 1000px;
    border-radius: 12px;
    background-color: #b7c2d4;
    width: 197px;
    height: 60px;
}
.portfolio-child3 {
    position: absolute;
    top: 1163px;
    left: 1000px;
    border-radius: 12px;
    background-color: #83a0ca;
    width: 197px;
    height: 60px;
}
.portfolio-child4 {
    position: absolute;
    top: 1254px;
    left: 1000px;
    border-radius: 12px;
    background-color: #819bb7;
    width: 197px;
    height: 60px;
}
.portfolio-child5 {
    position: absolute;
    top: 1345px;
    left: 1000px;
    border-radius: 12px;
    background-color: #56789d;
    width: 197px;
    height: 60px;
}
.portfolio-child6 {
    position: absolute;
    top: 1436px;
    left: 1000px;
    border-radius: 12px;
    background-color: #31517a;
    width: 197px;
    height: 60px;
}
.learning-outcomes {
    position: absolute;
    top: 938px;
    left: 900px;
    font-size: 50px;
    color: #83a0ca;
}
.lo-1 {
    position: absolute;
    top: 1080px;
    left: 1070px;
}
.lo-2 {
    position: absolute;
    top: 1171px;
    left: 1070px;
}
.lo-3 {
    position: absolute;
    top: 1262px;
    left: 1070px;
}
.lo-4 {
    position: absolute;
    top: 1352px;
    left: 1070px;
}
.lo-5 {
    position: absolute;
    top: 1444px;
    left: 1070px;
}
.ux {
    position: absolute;
    top: 1201px;
    left: 532px;
}
.branding {
    position: absolute;
    top: 1080px;
    left: 492px;
}
.development {
    position: absolute;
    top: 1322px;
    left: 466px;
}
.project-x {
    position: absolute;
    top: 1443px;
    left: 493px;
}
.portfolio-child1 {
    position: absolute;
    top: 1869px;
    left: 350px;
    background-color: #31517a;
    border: 3px solid #fff;
    box-sizing: border-box;
    width: 322px;
    height: 421px;
}
.hey-my-name {
    margin: 0;
}
.hey-my-name-container {
    position: absolute;
    top: 1885px;
    left: 360px;
    font-size: 24px;
    text-align: right;
    display: inline-block;
    width: 297px;
    height: 390px;
}
.line-group {
    position: absolute;
    top: 2406px;
    left: 97px;
    width: 1085px;
    height: 34px;
    font-size: 20px;
}
.polygon-icon {
    position: absolute;
    top: 718px;
    left: 800px;
    border-radius: 4px;
    width: 62px;
    height: 52px;
    object-fit: contain;
    cursor: pointer;
}
.portfolio-child7 {
    position: absolute;
    top: 1555px;
    left: 800px;
    border-radius: 4px;
    width: 62px;
    height: 52px;
    object-fit: contain;
    cursor: pointer;
}
.polygon2-icon {
    position: absolute;
    top: 1750px;
    left: 800px;
    border-radius: 4px;
    width: 62px;
    height: 52px;
    object-fit: contain;
    cursor: pointer;
    transform: rotate(180deg);
}
.maksym-icon {
    position: absolute;
    top: 1869px;
    left: 950px;
    width: 304px;
    height: 421px;
    object-fit: cover;
    border: white solid 3px;
}
.portfolio {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 2496px;
    overflow: hidden;
    text-align: left;
    font-size: 30px;
    color: #fff;
    font-family: Jost;
}